body {
   font-family: 'Roboto', sans-serif;
   color: #2E2F42;
}

.list {
   list-style: none;
}

.link {
   text-decoration: none;
}

:root {
   --accent-color: #2E2F42;
   --text-color: #434455;
   --text-lh: 1.2;
   --link-btn-lh: 1.5;
}

/* Header */
.header-logo {
   font-family: 'Raleway', sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 18px;
   line-height: 1.33;
   text-transform: uppercase;
   color: var(--accent-color);
}

.header-logo span {
   font-family: 'Raleway', sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 18px;
   line-height: 1.33;
   text-transform: uppercase;
   color: #4D5AE5;
}

.nav-item {
   font-weight: 500;
   font-size: 16px;
   line-height: var(--link-btn-lh);
   letter-spacing: 0.02em;
   color: var(--accent-color);
}



.adress-mail, .adress-tel {
   font-style: normal;
   font-size: 16px;
   line-height: var(--link-btn-lh);
   letter-spacing: 0.02em;
   color: #434455;
}

.nav-item:hover, .adress-mail:hover, .nav-item:focus, .adress-mail:focus {
   color: #404BBF;
}


/* Hero */
.hero {
   background-color: #2E2F42;
}

.hero-title {
   font-size: 56px;
   line-height: 1.07;
   color: #FFFFFF;
}

.hero-btn {
   font-family: inherit;
   font-weight: 500;
   font-size: 16px;
   line-height: var(--link-btn-lh);
   color: #FFFFFF;
   cursor: pointer;
   background: #4D5AE5;
}
.hero-btn:hover {
   background: #404BBF;
}


/* Our features */
.visually-hidden {
   position: absolute;
   white-space: nowrap;
   width: 1px;
   height: 1px;
   overflow: hidden;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   clip-path: inset(50%);
   margin: -1px;
}

.about-subtitle {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: var(--accent-color);
}

.about-text {
font-size: 16px;
line-height: var(--text-lh);
letter-spacing: 0.02em;
color: var(--text-color);
}

/* Wedo */
.wedo-title {
   font-size: 36px;
   line-height: 1,11;
   color: var(--accent-color);
}


/* Team */
.team-section {
   background: #F4F4FD;
}

.team-title{
   font-size: 36px;
   line-height: 1.11;
   color: var(--accent-color);
}

.team-item {
   background: #FFFFFF;
}

.team-name {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: var(--accent-color);
}

.team-text {
   font-size: 16px;
   line-height: var(--text-lh);
   letter-spacing: 0.02em;
   color: var(--text-color);
}


/* Portfolio */
.filters-btn {
   font-family: inherit;
   font-weight: 500;
   font-size: 16px;
   line-height: var(--link-btn-lh);
   letter-spacing: 0.04em;
   color: #4D5AE5;
   background: #F4F4FD;
   border: 1px solid #E7E9FC;
   border-radius: 4px;
   cursor: pointer;
}

.project-cards-subtitle {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: var(--accent-color);
}

.project-cards-text {
   font-size: 16px;
   line-height: var(--text-lh);
   letter-spacing: 0.02em;
   color: var(--text-color);
}

/* Footer */
.footer {
   background-color: #2E2F42;
}

.footer-logo {
   font-family: 'Raleway';
   font-weight: 800;
   font-size: 18px;
   line-height: 1.33;
   text-transform: uppercase;
   color: #F4F4FD;
}

.footer-logo span {
   font-family: 'Raleway';
   font-weight: 800;
   font-size: 18px;
   line-height: 1.33;
   text-transform: uppercase;
   color: #4D5AE5;
}

.footer-text {
font-size: 16px;
line-height: var(--text-lh);
letter-spacing: 0.02em;
color: #E7E9FC;
}